/* Общие стили */

.show {
	display: block;
}

.hidden {
	display: none;
}

/* Классы для скрытия элементов наподобе заголовков и т д */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Fonts sizes
h1 Desktop 44px Mobile 22px
h2 Desktop 32px Mobile 22px
h3 Desktop 24px Mobile 18px
h4 Desktop list 16px 

Big standard text desktop 22px Mobile 13px
Standard text desktop 16px Mobile 13px
Text list desktop 16px 
*/

/* Адаптивные классы шрифтов */
.text-h1 {
	font-size: clamp(22px, 4.5vw, 44px);
	font-weight: 700;
	line-height: 1.2;
}

.text-h2 {
	font-size: clamp(22px, 4vw, 32px);
	font-weight: 700;
	line-height: 1.3;
}

.text-h3 {
	font-size: clamp(18px, 3.5vw, 24px);
	font-weight: 600;
	line-height: 1.4;
}

.text-h4 {
	font-size: clamp(
		16px,
		3vw,
		16px
	); /* фиксированный размер, так как desktop/mobile одинаковы */
	font-weight: 600;
	line-height: 1.4;
}

.text-big {
	font-size: clamp(13px, 2.8vw, 22px);
	line-height: 1.5;
}

.text-standard {
	font-size: clamp(13px, 2.2vw, 16px);
	line-height: 1.6;
}

.text-list {
	font-size: clamp(13px, 2.2vw, 16px);
	line-height: 1.6;
}
