/* Общие стили */

.show {
	display: block;
}

.hidden {
	display: none;
}

/* Классы для скрытия элементов наподобе заголовков и т д */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Fonts sizes
h1 Desktop 44px Mobile 22px
h2 Desktop 32px Mobile 22px
h3 Desktop 24px Mobile 18px
h4 Desktop list 16px 

Big standard text desktop 22px Mobile 13px
Standard text desktop 16px Mobile 13px
Text list desktop 16px 
*/

.h1 {
	font-size: clamp(1.375rem, 0.896rem + 2.13vw, 2.813rem);
	font-weight: 700;
	line-height: 1.2;
}

.h2 {
	font-size: clamp(1.375rem, 1.167rem + 0.93vw, 2rem);
	font-weight: 700;
	line-height: 1.3;
}

.h3 {
	font-size: clamp(1.188rem, 1.083rem + 0.46vw, 1.5rem);
	font-weight: 600;
	line-height: 1.4;
}

.h4 {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.4;
}

.text-big {
	font-size: clamp(0.875rem, 0.708rem + 0.74vw, 1.375rem);
	line-height: 1.5;
}

.text-standard {
	font-size: clamp(0.875rem, 0.792rem + 0.37vw, 1.125rem);
	line-height: 1.6;
}

.text-list {
	font-size: clamp(14px, 2.2vw, 16px);
	line-height: 1.6;
}

.form-general {
	display: flex;
	width: 100%;
	gap: 0;
}

.form-general__icon {
	position: relative;
}
.form-general__icon::before {
	content: url('/images/icons/icon_mail.svg');
	position: absolute;
	top: 50%;
	left: 10%;
	width: 20px;
	height: 18px;
	transform: translateY(-50%);
}

.form-general__email {
	max-width: 345px;
	width: 100%;
	padding: 1.5rem 3rem 1.5rem 5rem;
	border-radius: 15px 0 0 15px;
	border: none;
	background: var(--nine-color);
}

.form-general__email::placeholder {
	font-size: 13px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 0.03em;
	color: var(--five-color);
}

.btn-primary {
	max-width: 199px;
	width: 100%;
	padding: 25px 31px;
	font-size: 14px;
	font-weight: 500;
	border-radius: 0 15px 15px 0;
	border: none;
	cursor: pointer;
	white-space: nowrap;
	text-align: center;
	background: var(--seven-color);
	color: var(--third-color);
}
