@import url('./normalize.css');
@import url('./fonts.css');

:root {
	/* Высота/ширина, контейнеры и т д  */
	--container-width: 0px;
	--container-padding-x: 15px;

	/* Шрифты */

	/* Цвета */
	--primary-color: #;
	--second-color: #;
	--third-color: #;
	--four-color: #;
	--five-color: #;
	--six-color: #;
}

.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}
