@import url('./normalize.css');
@import url('./fonts.css');
@import url('../section/section.css');
@import url('../block/blocks.css');
@import url('..//global/general.css');

:root {
	/* Высота/ширина, контейнеры и т д  */
	--container-width: 1137px;
	--container-padding-x: 15px;
	/* Шрифты */
	--font-family: 'Poppins';
	/* Цвета */
	--primary-color: #323f73;
	/* original color: #95afba; bad contract */
	--second-color: #48636e;
	--third-color: #fff;
	--four-color: #ffd9cc;
	--five-color: #3c3c3c;
	--six-color: #f5f8fa;
	--seven-color: linear-gradient(90deg, #ff416c 0%, #ff4b2b 100%);
	--eight-color: #e95829;
	--nine-color: #f5f8fa;
	--ten-color: #ffd888;
	--eleven-color: #ccfffc;
	--twelve-color: #23a9a1;
	--thirteen-color: #f4f5f8;
	--fourteen-color: #e5e5e5;
	--fifteen-color: #eff0f6;
	--sixteen-color: linear-gradient(180deg, #edeff5 0%, #fff 100%);
}

.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

body {
	font-family: var(--font-family);
	font-weight: 400;
	background: var(--third-color);
	color: var(--primary-color);
}
