.header {
	padding: 5rem 0;
	background: linear-gradient(to right, #ffffff 50vw, #eef0f5 50vw);
}

nav {
	display: flex;
	max-width: 1137px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	font-weight: 700;
}

.nav__list {
	display: flex;
	margin-left: 167px;
	gap: 0 5rem;
	justify-self: center;
}

.nav__logo,
.nav__link {
	padding-bottom: 0.2rem;
	text-decoration: none;
	white-space: nowrap;
	transition: border 0.3s ease;
	border: none;
	color: inherit;
}

.nav__link {
	font-size: 0.875rem;
	letter-spacing: 0.04em;
}

.nav__logo:hover,
.nav__link:hover {
	border-bottom: 1px solid var(--eight-color);
}

.nav__btns {
	display: flex;
	gap: 0 3rem;
}

.nav__btn {
	border: none;
	border-radius: 8px;
	transition: all 0.3s ease;
	background: transparent;
	color: inherit;
}

.nav__burger {
	display: none;
}

.nav__btn:hover {
	padding: 1rem 2rem;
	background: var(--primary-color);
	color: var(--third-color);
}

@media (max-width: 1146px) {
	nav {
		margin-inline: 0.9rem;
	}

	.nav__list {
		gap: 0 2rem;
		margin-left: 80px;
	}

	.nav__btns {
		gap: 0 1rem;
	}
}

@media (max-width: 874px) {
	.nav__list {
		gap: 0 1rem;
		margin-left: 50px;
	}

	.nav__btns {
		gap: 0 0.875rem;
	}

	.nav__btn:hover {
		padding: 1rem 0.5rem;
	}
}

@media (max-width: 700px) {
	.header {
		background: linear-gradient(to right, #ffffff 50vw, #eef0f5 50vw);
	}

	nav {
		align-items: center;
	}

	.nav__list {
		display: none;
	}

	.nav__logo {
		align-self: center;
	}

	.nav__btns {
	}

	.nav__btn {
		display: none;
	}

	.nav__burger {
		display: block;
		width: 40px;
		height: 40px;
		overflow: visible;
		border: none;
		background: transparent;
	}

	.nav__burger span {
		display: block;
		width: 100%;
		height: 4px;
		margin-top: 3px;
		background: var(--primary-color);
	}
}
