@media (max-width: 700px) {
	.mobile-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		border: none;
		background: var(--four-color);
		color: var(--primary-color);
	}

	.mobile-menu__body {
		display: flex;
		gap: 1rem 0;
		flex-direction: column;
		align-items: center;
	}

	.mobile-menu__close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		width: 40px;
		height: 40px;
		border: none;
		background: transparent;
	}

	.mobile-menu__list {
		display: flex;
		gap: 1rem 0;
		flex-direction: column;
		align-items: center;
	}

	.mobile-menu__item {
		color: inherit;
	}

	.mobile-menu__btns {
		display: flex;
		gap: 0.53em 0;
		flex-direction: column;
		align-items: center;
		color: inherit;
	}

	.mobile-menu__btns .nav__btn {
		display: block;
	}
}

@keyframes mobile-menu-show {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}
